<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/after.css">
    <title>Rainy Day</title>
</head>
<body>
    <h1 style="text-align: center; font-size: 3 rem; font-weight: bolder">RAINY DAY</h1>
    <a href="./fb" style="margin: 80%; background-color:white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg></a>
    <div class="rainyimg">
        <img src="../static/rainy.jpg" alt="RAINFALL" style="height: 550px; width: 550px; margin-left: 32%">
    </div>
    <div>
        <h2><center> Tomorrow is going to be <span style="font-style: italic; font-weight: bolder;">rainy day</span>. So enjoy yourselves 
        with a cup of coffee and hot snack </center></h2>
   </div>
</body>
</html>